.nav-bar-blue{
    background-color: #3097D1 !important;
    color:  white;
}
ul.tweet-lists li{
    padding: 21px;
}
.container-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
.figure-img {
    width: 32px;
    height: 32px;
    margin: 2px;
    border-radius:16px;
}
.figure-div {
    width: 90%;
}